<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <p> ______</p>
    <p>| home |</p>
    <p> ------</p>
    <p> <%= 1 + 22 %></p>
        
    <%- include('partials/footer') %>